.buttons {
  button {
    font-size: 13px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 3px 5px;

    &:last-child {
      margin-left: 5px;
    }
  }
}
