.matchList {
    position: relative;
}

.loadingOverlay {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.date {
    font-size: 13px;
    margin: 10px 0;
    color: #999;
}
