<div>
  <select name="user1">
    {% for user in users %}
    <option value="{{ user.id }}" {% if user.id== user1 %}selected{% endif %}>{{ user.name }}</option>
    {% endfor %}
  </select>
  vs.
  <select name="user2">
    {% for user in users %}
    <option value="{{ user.id }}" {% if user.id== user2 %}selected{% endif %}>{{ user.name }}</option>
    {% endfor %}
  </select>
  <script>
      (() => {
          const user1Select = document.querySelector('select[name="user1"]');
          const user2Select = document.querySelector('select[name="user2"]');

          function disableSame(event) {
              user1Select.querySelectorAll('option').forEach((option) => {
                  option.disabled = option.value === user2Select.value;
              });
              user2Select.querySelectorAll('option').forEach((option) => {
                  option.disabled = option.value === user1Select.value;
              });
          }

          user1Select.addEventListener('change', disableSame);
          user2Select.addEventListener('change', disableSame);
          disableSame();
      })();
  </script>
  <span class="hgap-s"></span>
  <button>Randomize</button>
  <span class="hgap-s"></span>
  <button>In leagues</button>
</div>
